RFC030 - Marktvoorziening catalogusaanbieder

## Aanleiding en Samenvatting

In de CAB vergadering van 09-09-2025 heeft de CAB geadviseerd om [RFC027]( #45 ) onderdeel 2 en 3 af te splitsen en als een nieuwe RFC in te brengen in een volgende CAB vergadering. Dit is RFC030 geworden.

## Wijzigingsvoorstel

**1. Van catalogusfunctie een marktvoorziening maken.**

De catalogusfunctie in het DSGO is beschreven als onderdeel van de stelselcatalogus en daarmee een stelselvoorziening. Ons voorstel is om hier een marktvoorziening van te maken. Zo kunnen partijen toetreden in de rol van Catalogue Provider of catalogusaanbieder. Hiermee wordt het DSGO aangepast op de volgende onderdelen:

[Het DSGO rollenmodel](https://afsprakenstelseldsgo.atlassian.net/wiki/spaces/DSGO/pages/317456820/Het+DSGO+rollenmodel): De rol van catalogusaanbieder wordt toegevoegd als marktvoorziening. Ook de rechten en plichten van deze rol nader uitwerken.
[Datadienst ontdekking](https://afsprakenstelseldsgo.atlassian.net/wiki/spaces/DSGO/pages/316969831/Datadienst+ontdekking): Herschrijven naar de situatie dat datadienstaanbieders een /data_services endpoint moeten aanbieden en dat een partij in de rol van catalogusaanbieder voor registratie van datadiensten verantwoordelijk is.
[Rechten en plichten](https://afsprakenstelseldsgo.atlassian.net/wiki/spaces/DSGO/pages/317457495/Rechten+en+plichten): De rechten en plichten voor datadienstaanbieders (aanbieden /data_services endpoint) en de catalogusaanbieder uitwerken.
[Marktvoorzieningen](https://afsprakenstelseldsgo.atlassian.net/wiki/spaces/DSGO/pages/316972876/Marktvoorzieningen): Toevoegen van de marktvoorziening catalogusaanbieder.
[GET /data_services](https://afsprakenstelseldsgo.atlassian.net/wiki/spaces/DSGO/pages/446332930/GET+data_services): Beschrijven dat het endpoint aangeboden kan worden door datadienstaanbieders en de marktvoorziening catalogusaanbieder.
Het toevoegen van de extra rol zal ook impact hebben op de tekst in het stelsel. Denk bijvoorbeeld aan de keuzeopties in het party_info object.

**2. Hernoemen stelselcatalogus naar participantenregistratie**

De stelselcatalogus die aangeboden wordt door de beheerorganisatie DSGO bevat geen datadiensten meer (deze RFC). In RFC018 is ook beschreven dat het brokerregister uit de stelselcatalogus wordt verwijderd. De beheerorganisatie DSGO is enkel nog verantwoordelijk voor het registreren van deelnemers en het delen van party_info via het /parties endpoint. We stellen voor om de stelselcatalogus te hernoemen naar het participantenregister.

## Rationale

Deze wijziging zorgt ervoor dat datadienstontdekking schaalbaar wordt en partijen zelf regie hebben over de datadiensten die ze kenbaar willen maken in het DSGO. Ook biedt het mogelijkheden voor partijen om de fucntie van datadienstcatalogus te vervullen in een specfieke ketensamenwerking. Het DSGO wordt hiermee flexibeler en tegelijkertijd neemt de beheerlast voor de beheerorganisatie af. De beheerorganisatie DSGO richt zich op haar kerntaak om deelnemers toe te laten treden, uit te laten treden, handhaving uit te voeren, incidenten te managen en de afspraken te beheren.

## Urgentie

Deze RFC is ingediend met de urgentie major omdat de wijzigingen betrekking hebben op de kern van het Trust Framework.

## Impact

De impact van deze wijziging is high. Er vindt een verschuiving van verantwoordelijkheden plaats op het vlak van datadienstontdekking. Partijen worden zelf verantwoordelijk voor het delen van informatie ten behoeve van datadienstontdekking. De controlerende functie van de beheerorganisatie DSGO wordt belegd in een separate rol die uitgevoerd kan worden door geinteresseerde partijen. Het DSGO wordt uitgebreid met een separate rol catalogusaanbieder om dit mogelijk te maken.

