RFC018 - Delegation en fine grained authorisation

### Aanleiding en Samenvatting

DSGO ondersteunt *fine-grained authorization* van datadiensten. De datadienstaanbieder laat als *policy decision point (PEP)* een datadienstgebruiker al dan niet toe tot de datadienst om data te bevragen of te verwerken. Dit concept is beschreven in de onderdelen [autorisatie](https://afsprakenstelseldsgo.atlassian.net/wiki/spaces/DSGO/pages/316970439/Autorisatie) en onderliggend aan het [autorisatiebeleid opstellen](https://afsprakenstelseldsgo.atlassian.net/wiki/spaces/DSGO/pages/316970570/Autorisatiebeleid+opstellen), [autorisatie-informatie organiseren](https://afsprakenstelseldsgo.atlassian.net/wiki/spaces/DSGO/pages/316970601/Autorisatie-informatie+organiseren) en [autorisatiebesluit nemen](https://afsprakenstelseldsgo.atlassian.net/wiki/spaces/DSGO/pages/316970658/Autorisatiebesluit+nemen).

Autorisaties zijn in het DSGO vertaalt naar de oplossing van `delegaties`. Op de pagina [Delegaties](https://afsprakenstelseldsgo.atlassian.net/wiki/spaces/DSGO/pages/316971015/Delegaties) in het DSGO staat dit concept beschreven:

*"Delegatie is het overdragen van een bevoegdheid, van de datarechthebbende, aan een ander die vervolgens die bevoegdheid kan gebruiken. Wanneer een datadienstaanbieder het in een datadienst mogelijk maakt voor een datarechthebbende om haar rechten te delegeren, moeten de door de datarechthebbende gedelegeerde rechten van tevoren zijn geregistreerd. Wanneer daarna een gedelegeerde datadienstgebruiker een datadienstverzoek verstuurt moet de datadienstaanbieder het delegatiebewijs krijgen of op basis van de ontvangen informatie zelf een autorisatiebesluit kunnen nemen. Het registeren van delegaties en het ophalen van delegatiebewijs is een onderdeel van het organiseren van autorisatie-informatie van een datadienst."*

De huidige uitwerking van *delegaties* is op hoofdlijnen uitgewerkt. In de praktijk zien we meerdere toepassingsgebieden die met de huidige uitwerking niet helder van elkaar te onderscheiden zijn. We zien de volgende autorisaties die worden verstrekt in een `policy`:
1. Een datadienstrechthebbende verleent een toegangsrecht (`AccessRight`) aan een juridisch datadienstgebruiker.
2. Een juridisch datadienstgebruiker delegeert een verkregen toegangsrecht door aan een andere (juridisch) datadienstgebruiker. Hier lijkt de term `Delegation` op zijn plaats. De gedelegeerde partij handelt immers zelfstandig en neemt eigen beslissingen.
3. Een softwareleverancier ondersteunt een datadienstrechthebbende of een juridisch datadienstgebruiker als gemachtigd datadienstaanbieder of datadienstgebruiker. De softwareleverancier is gemachtigd met een `SupplierDelegation`.

Het doel van deze RFC is om de generieke afspraken met betrekking tot autorisaties te verhelderen en geschikt te maken voor meerdere toepassingsgebieden.


### Wijzigingsvoorstel

Zoals in de aanleiding toegelicht onderscheiden we drie varianten van `policies`. Onderstaand diagram geeft de varianten weer.

![Image](https://github.com/user-attachments/assets/5600bb56-2026-44e9-953b-731c91d4c001)

De figuur doet de suggestie dat er altijd een softwareleverancier betrokken is bij een datatransactie. Dat is uiteraard niet het geval. 
Een organisatie kan ook als datadienstgebruiker of datadienstaanbieder de datatransactie zowel juridisch als technisch uitvoeren. Omwille van de leesbaarheid hebben we enkel de indirecte variant opgenomen en wel de variant die de meeste verschillende partijen heeft en alle relaties weer kan geven.

Meer informatie hierover kan worden gevonden in [RFC021](https://github.com/nl-digigo/DSGO/issues/40) waarin de nieuwe rollen worden toegelicht.

In onderstaande tabel zijn de definities weergegeven.

| Autorisatie | Technical term | Van | Aan | Omschrijving |
|---|---|---|---|---|
| Toegangsrecht | `AccessRight` | DDRH | JDDG of DDG | Datadienstrechthebbende machtigt een (juridisch) datadienstgebruiker om via een datadienst data te gebruiken of te verwerken. |
| Delegatie | `Delegation` | JDDG of DDG | JDDG of DDG | Een (juridisch) datadienstgebruiker delegeert een toegangsrecht door naar een andere (juridisch) datadienstgebruiker. |
| Leveranciersmachtiging | `SupplierDelegation` | JDDG, DDR | GDDA, GDDG | Een datadienstrechthebbende of juridisch datadienstgebruiker contracteert een gemachtigd datadienstaanbieder of gemachtigde datadienstgebruiker om date te verwerken en datadienst aan te bieden of te gebruiken. |

Het onderscheid in deze varianten van `policies` biedt mogelijkheden om in het afsprakenstelsel de verantwoordelijkheden voor het verlenen van policy information duidelijk te beleggen. Ook geeft het de mogelijkheid om bewijsstukken als template voor te bereiden. Dit verhoogt de semantische en technische interoperabiliteit. We stellen voor om de volgende zaken ten aanzien van het `delegationEvidence` te wijzigen:

**1. Toevoegen van de drie `policy` varianten: `AccessRight`, `Delegation` en `SupplierDelegation`**
De drie hierboven genoemde varianten worden toegevoegd aan de functionele documentatie in het afsprakenstelsel.

**2. `delegationEvidence` functionele documentatie**
De term `delegationEvidence` is te eenzijdig en werkt verwarrend. Zoals hierboven toegelicht zijn er meerdere varianten van autorisaties. Niet alleen delegaties, maar ook het toegangsrecht en de leveranciersmachtiging. We stellen voor om de termen in de functionele documentatie consistent te hanteren. Policy informatie wordt vastgelegd in het *policy administration point (PAP)* en kan daar worden opgevraagd door andere partijen via het *policy retreiveal point*. Voor de technische documentatie kunnen we de iSHARE term van `delegationEvidence` blijven hanteren. Een verzoek om informatie aan dit PRP resulteert op deze wijze in `delegationEvidence`. Voor een verzoek aan het *policy decision point* stellen we voor om met het */evaluation* endpoint te gaan werken. We vragen aan het PDP om een verzoek aan een resource te valideren op het `toegangsrecht` van de datadienstrechthebbende.

We stellen voor om bovenstaande te wijzigingen in de technische documentatie.

**3. Toevoegen van licenties voor softwareleveranciers**
De huidige [licentiecodes](https://afsprakenstelseldsgo.atlassian.net/wiki/spaces/DSGO/pages/357990478/Licentiecodes) van het DSGO gaan voornamelijk uit van een licentie op data vanuit de datadienstrechthebbende naar de (juridisch) datadienstgebruiker. In de relatie tussen een juridisch datadienstgebruiker en een gemachtigd datadienstgebruiker en een datadienstrechthebbende en een gemachtigd datadienstaanbieder geldt ook een licentie op data. De gemachtigd datadienstgebruiker of datadienstaanbieder mag bijvoorbeeld:
- Data transporteren
- Data transformeren
- Data opslaan

We stellen voor om deze licenties toe te voegen aan de lijst met licentiecodes.
| Licentiecode | Omschrijving (gebruiksrecht) |
|---|------|
| 0008 | Licensee mag de ontvangen data niet gebruiken en alleen transporteren naar de licensor. |
| 0009 | Licensee mag de ontvangen data transformeren en alleen transporteren naar de licensor. |
| 0010 | Licensee mag de ontvangen data opslaan, verwerken en delen namens de licensor. |

**4. Verduidelijken `Policy` object**
In het `authorizationEvidence` object kunnen een of meerdere `policy` objecten (als onderdeel van een `policySet`) worden gespecificeerd. Het`policy` object [beschrijft](https://afsprakenstelseldsgo.atlassian.net/wiki/spaces/DSGO/pages/445710415/delegationEvidence+object#policy-Object) is gebaseerd op XACML en beschrijft de bevoegdheid in detail. We kunnen gebruik maken van deze structuur om onze vier varianten van bevoegdheden op een uniforme wijze te structureren.

De `policy` heeft een attribuut `target`. In het `target` wordt de `resource` en de `actions` gespecificeerd.

We stellen voor om in policies te werken met een aantal generieke semantische afspraken voor het attribuut `action`. De benaming is overeenkomstig de Open ID Connect AuthZen standaard.

| `resource` | ` action` | Omschrijving |
|---|---|---|
| `data` | `can_create` | Recht om data te creëren. |
| `data` | `can_read` | Recht om data op te vragen. |
| `data` | `can_update` | Recht om data bij te werken. |
| `data` | `can_delete` | Recht om data te verwijderen. |
| `data_service` | `can_access` | Recht om datadienst af te nemen. |

Merk op dat we twee typen van `resources` hebben onderscheiden: `data` en `data_service`. Dit onderscheid maakt het mogelijk om de transactiepatronen databevraging als dataverwerking te ondersteunen. Enkele voorbeelden zijn:
1. Het opvragen van productdata in het transactiepatroon bevraging bevat de action `can_read` op product `data`.
2. Het bijwerken van onderhoudsinformatie in het transactiepatroon dataverwerking bevat de actions `can_create`, `can_update` op asset `data`.
3. Het toegang geven tot een vergunningsloket in het transactiepatroon dataverwerking bevat de action `can_access` op een `data_service`

Voor de vier varianten betekent dit de volgende configuratie van mogelijkheden:

| Policy | Toepassing | `resource` | `action` | API operaties | Licentiecodes |
|---|---|---|---|---|---|
| `AccessRight` OF `Delegation` | Recht op databevraging | `data` | `can_read` | GET | 0000 - 0007 |
| `AccessRight` OF `Delegation` | Recht op dataverwerking | `data` | `can_create`, `can_update`, `can_delete` | POST, PUT, PATCH, UPDATE, DELETE | 0000 - 0002 |
| `AccessRight` OF `Delegation` | Recht op toegang tot datadienst | `data_service` | `can_access` | POST | 0000 - 0002 |
| `SupplierDelegation` | Recht op toegang tot datadienst | `data_service` | `can_access` | Alle operaties | 0008 - 0010 |

[RFC026](Open ID AuthZen in plaats van XACML) neemt dit voorstel nog een stap verder en stelt een alternatief berichtformaat voor om autorisatiebewijzen te communiceren tussen PEP, PDP, PRP. De Open ID AuthZen standaard is relatief nieuw en biedt een gestandaardiseerd alternatief voor de legacy XACML standaard die nu toegepast wordt binnen iSHARE.

**5. Wie is verantwoordelijk voor `authorizationEvidence` en vervult de functie van `Policy Administration Point`?**
De vier policy varianten geven ook de mogelijkheid om duidelijke afspraken te maken over de invulling van het Policy Administration Point (PAP).

| Policy | Verantwoordelijk | Omschrijving |
|---|---|---|
| `AccessRight` | Gemachtigd datadienstaanbieder | Gemachtigd datadienstaanbieder en datarechthebbende komen bilateraal implementatie overeen. Veelal zal dit register staan bij de gemachtigd datadienstaanbieder. Eventueel kan dit ook bij een derde partij staan die de rol van autorisatieregister vervult of bij de datadienstrechthebbende. |
| `Delegation` | Delegerend (Juridisch) datadienstgebruiker | (Juridisch) datadienstgebruikers komen bilateraal implementatie overeen.
| `SupplierDelegation` | Gemachtigd datadienstgebruiker of datadienstaanbieder | Veelal zal dit register staan bij de gemachtigd datadienstgebruiker of gemachtigd datadienstaanbieder. Eventueel kan dit ook bij een derde partij staan die de rol van autorisatieregister vervult of bij de juridisch datadienstgebruiker of de datadienstrechthebbende. |

We stellen voor om bovenstaande toelichting te verwerken in de functionele documentatie over autorisaties.

**6. Hoe wordt een `SupplierDelegation` verstuurd vanuit de Client?**
De [huidige header](https://afsprakenstelseldsgo.atlassian.net/wiki/spaces/DSGO/pages/316969049/Data+service) geeft ruimte voor één `delegation_evidence` in de vorm van een `string` met als vereiste ook het toevoegen van een `Authenticatie JWT` in de `client_assertion` met de volgende regel:

"Note, `delegation_evidence` MUST be used in combination with the  `client_assertion` parameter. If `delegation_evidence` is used, the `accessSubject` in the `delegationEvidence` object MUST be validated to match the `client_id` in the `client_assertion`. If this matches, the `policyIssuer` in the `delegationEvidence` MUST be considered the data service consumer."

De `client_assertion` betreft in dit voorbeeld een `Authenticatie JWT` van de gemachtigd datadienstgebruiker D. Er is echter een praktisch bezwaar om gebruik te maken van de header. De size limit voor een header is maximaal 4-8kb om ondersteuning van standaard webservers te ondersteunen. Deze informatie via de header versturen zal in de praktijk niet werken.

We stellen voor om gebruik te maken van [RFC8693: OAuth 2.0 Token Exchange](https://www.rfc-editor.org/rfc/rfc8693.html#name-security-considerations). Deze RFC maakt het mogelijk om een token om te wisselen speciaal voor de situatie dat er sprake is van een delegatie of impersonisatie. Dit betekent:
1. De Client vraagt eerst op reguliere wijze een `access_token` aan.
2. De Client wisselt dit `access_token` om voor een `access_token_delegated` met delegatiebewijs. Hiervoor levert de Client een `subject_token` aan met hierin de `delegationEvidence` token waarin de `SupplierDelegation` is beschreven. De `actor_token` is het eerder verkregen `access_token`. De `SupplierDelegation` wordt gecontroleerd. In het participantenregister is terug te herleiden of de issuer van het `SupplierDelegation` ook daadwerkelijk bevoegd is om een `delegationEvidence` uit te geven.
3. Bij het bevragen van de datadienst wordt op een reguliere wijze gecontroleerd of de juridisch datadienstgebruiker een toegangsrecht heeft tot de datadienst en of delegatie toegestaan is.

**7. Hoe verloopt de interactie bij een autorisatiebeslissing?**
In onderstaand diagram is een sequence diagram uitgewerkt voor het nemen van een autorisatiebeslissing waarbij sprake is van een machtiging door een juridisch datadienstgebruiker aan een gemachtigd datadienstgebruiker én een toegangsrecht dat verleent is door een datadienstrechthebbende aan de juridisch datadienstgebruiker. Omwille van de duidelijkheid is in beide gevallen rekening gehouden met policy administraties die separaat zijn ingetekend. Uiteraard kunnen deze (zoals in het vorige punt toegelicht) ook bij een van de betrokken partijen worden belegd.

```mermaid
---
title: 
config:
  showSequenceNumbers: true
  theme: neutral
  TextMargin: 10
  diagramMarginY: 20
---
sequenceDiagram

    box . <br/>Legal<br>Data Service Consumer<br>B
        participant DSC as Legal<br>representative<br>party B
    end

    box . <br/>Policy Administration II<br>for SupplierAuthorization D
        participant PAP2 as Policy<br>Administration<br>Point
        participant PRP2 as Policy<br>Retrieval<br>Point
        
    end

    box . <br/>Authorized<br>Data Service Consumer<br>D
        participant C as Client
    end
    
    box . <br/>Authorized<br>Data Service Provider<br>C
        participant AS as Authorization<br>Server
        participant PEP as Policy<br>Enforcement<br>Point
        participant PDP as Policy<br>Decision<br>Point
        participant RS as Resource<br>Server
    end

    box . <br/>digiGO<br>Governance Body DSGO
        participant PR as Participant Registry
    end

    box . <br/>Policy Administration I<br>for AccessRight from A
        participant PDP1 as Policy<br>Decision<br>Point
        participant PAP1 as Policy<br>Administration<br>Point
    end

    box . <br/>Data Service<br>Rights Holder<br>A
        participant DRH as Legal<br>representative<br>party A
    end

    %% Data service rights holder A auhthorizes Legal data service consumer B
    DRH->>+DRH: Create AccessRight
    DRH->>+PAP1: Authorize party B to access<br>data service at party C
    PAP1-->-DRH: AccessRight<br> policy created
    note left of PAP1: party B<br>is able to<br>access data from party B<br>at authorized<br>data service provider C

    %% Legal data service consumer B auhthorizes Authorized data service consumer D
    DSC->>+DSC: Create SupplierDelegation
    DSC->>+PAP2: Authorize party D to access<br>data service at party C
    PAP2-->>-DSC: SupplierDelegation<br> policy created
    note right of PAP2: party D<br>is able to<br>act as a supplier<br>of party B

    C->>+C: initiate<br>data service request

    %% Authorized data service consumer D requests delegationEvidence from Policy Administration III
    C->>+PRP2: POST /delegation
    PRP2->>PRP2: Search SupplierDelegation<br>policy for party D
    PRP2-->>-C: delegationEvidence<br/>200: OK

    %% Authorized data service consumer D requests access_token from Authorized data service provider C
    C->>+AS: POST /token
    note right of AS: AS authenticates<br/>Party D according to<br/>the standard protocol
    AS->>+PDP: POST /evaluation
    PDP->>PDP: verify internal policies
    PDP->>+PR: GET /parties/{id party D}
    note right of PDP: PDP requests<br/>party_info from the<br>participant registry
    PR-->>-PDP: party_info of party D
    PDP->>PDP: verify party D<br>is DSGO member
    PDP-->>-AS: decision: True
    AS-->>-C: access_token<br/>200: OK

    %% Exchange token including the delegation
    opt Verify delegationEvidence and exchange token
        C->>+AS: POST /token (token exchange)
        AS->>AS: verify access_token
        AS->>+PDP: POST /evaluation
        PDP->>PDP: verify internal policies
        PDP->>+PR: GET /parties/{id party B}
        note right of PDP: PDP requests<br>party_info from the<br>participant registry
        PR-->>-PDP: party_info of Party B
        PDP->>PDP: verify party A<br>is DSGO member
        PDP->>+PR: GET /parties/{id issuer: party D, party B or a third party}
        note right of PDP: PDP requests<br>party_info from the<br>issuer of the<br>delegationEvidence
        PR-->>-PDP: party_info of issuer
        PDP->>PDP: verify issuer<br>loa: level of assurance or<br>authorisation registry<br>role
        note right of PDP: checks trust of issuer of <br>delegationEvidence
        PDP-->>-AS: decision: True
        AS-->>-C: acccess_token_delegated
    end

    C->>+PEP: GET /data_service<br/>header: access_token_delegated
    PEP->>PEP: verify access_token_delegated
    PEP->>+PDP: POST /evaluation
    PDP->>PDP: verify internal policies

    %% AccessRight is validated in Policy Administration II
    opt verify AccessRight of data service rights holder A
        PDP->>+PDP1: POST /evaluation
        PDP1->>PDP1: Search AccessRight<br>policy for party B
        note right of PDP1: access evaluation request<br>to verify AccessRight for<br>Legal data service consumer B<br>using authorized data service consumer D
        PDP1->>PDP1: evaluate<br>AccessRight policy
        PDP1-->>-PDP: decision: True
    end
    PDP-->>-PEP: decision: True
    PEP->>+RS: Redirect request to<br>resource server
    PEP->-PEP: Log request
    
    %% RS verifies access_token and sends response
    RS-->>-C: data_service response
    
    C->>-C: verify data service response
```

De essentie van dit diagram is:
1. `AccessRight` policies worden opgeslagen in AR1 tussen Datadienstrechthebbende A en Gemachtigd datadienstaanbieder C
2. `SupplierDelegation` policies worden opgeslagen in AR2 tussen Juridisch datadienstgebruiker B en gemachtigd datadienstgebruiker D
3. Gemachtigd datadienstgebruiker D vraagt aan PRP van AR2 een delegationEvidence van de `SupplierDelegation` op
4. Gemachtigd datadienstgebruiker D stuurt de `SupplierDelegation` mee in de request aan Gemachtigd datadienstaanbieder C
5. Gemachtigd datadienstaanbieder C verifieert de `SuplierDelegation` en controleert in het DSGO participantenregister of juridisch datadienstgebruiker B deelnemer is en gemachtigd datadienstgebruiker D voldoet aan de level of assurance. Level of assurance medium stelt de gemachtigd datadienstgebruiker in staat om zelf het delegationEvidence te ondertekenen. Level of assurance high betekent dat de delegationEvidence ondertekend is door een derde partij in de rol van autorisatieregister of door de juridisch datadienstgebruiker zelf.
6. Gemachtigd datadienstaanbieder B wisselt het `access_token` om in een `access_token_delegated`.
7. Gemachtigd datadienstgebruiker D vraagt toegang tot de datadienst met het omgewisselde `access_token_delegated`.
8. Gemachtigd  datadienstaanbieder C vraagt aan PDP in AR1 om een autorisatiebeslissing te nemen en `AccessRight` te evalueren voor Juridisch datadienstgebruiker A waarbij gemachtigd datadienstgebruiker D de datatransactie gemachtigd uitvoert
9. Gemachtigd datadienstaanbieder C geeft gemachtigd datadienstgebruiker D toegang tot de datadienst en de data van partij A zodra de autorisatiebeslissing positief is.

**8. Wie ondertekent de `SupplierDelegation`?**
De `SupplierDelegation` wordt ondertekend door de partij die het AR verzorgt. Dit kan dus de juridisch datadienstgebruiker, de gemachtigd datadienstgebruiker of een derde partij zijn in de rol van autorisatieregister.

Zodra de gemachtigd datadienstgebruiker zelf de `SupplierDelegation` ondertekend leidt dit tot een zelfverklarling. Dit kan potentieel leiden tot een ongewenste situatie dat een organisatie fraudeert met machtigingsbewijzen. We denken echter dat de kans hierop zeer klein is. Softwareleveranciers die dit doen handelen frauduleus. Dit is vanzelfsprekend niet toegestaan en zeer slecht voor de reputatie van een softwareleverancier. Door een softwareleverancier altijd te laten verklaren dat ze acteren namens een partij en dit ook te laten ondertekenen is er zelfs een basis gelegd om deze fraude aan te tonen.

Als alternatief zouden deze `SupplierDelegation` objecten ook door de juridisch datadienstgebruiker of een derde partij in de rol van autorisatieregister ondertekend kunnen worden. We denken echter dat dit op dit moment een te hoge drempel is voor veel partijen. Deze afspraak zal er immers toe leiden dat iedere organisatie uit de Gebouwde Omgeving die gebruik maakt van software ook dient te beschikken over een electronic seal. Zodra het aanbod van electronic seals meer een commodity is met laagdrempelige dienstverlening en prijzen is deze variant wel mogelijk. Wel kunnen we ons voorstellen dat datadienstaanbieders in hun autorisatiebeleid op willen nemen dat dit een vereiste is. Kortom we stellen voor om beide varianten te ondersteunen. Een `SupplierDelegation` ondertekend door de softwareleverancier en een `SupplierDelegation` ondertekend door de machtigende organisatie.

We stellen voor om in het participantenregister vast te leggen of een gemachtigd datadienstgebruiker voldoende gecertificeerd is om zelf delegationEvidence te ondertekenen. In dat geval wordt de level of assurance (`loa`) van deze rol aangepast naar `substantial`. een gemachtigd datadienstgebruiker met `loa` en een waarde `low` is niet gecontroleerd en kan niet vertrouwd worden in het DSGO als partij die zelf `delegationEvidence` ondertekend. Zelfverklaring is nooit op het niveau van `high`. In dat geval dient gebruik te worden gemaakt van ondertekening van het `delegationEvidence` door de juridisch datadienstgebruiker zelf of een derde partij in de rol van `autorisatieregister`.

We stellen voor om bovenstaande toe te voegen aan de functionele documentatie over autorisaties.

**9. Welke electronic seals worden gebruikt door een Softwareleverancier?**
De `SupplierDelegation` vereenvoudigd het vraagstuk omtrent de te hanteren electronic seals in een datatransactie. De softwareleverancier kan als gemachtigd datadienstgebruiker zijn eigen electronic seal gebruiken in een datatransactie.

Dit heeft twee voordelen:
1. Partijen uit de gebouwde omgeving die gebruik maken van softwareleveranciers hoeven geen electronic seal meer aan te vragen. Ze kunnen meeliften op het electronic seal van de softwareleverancier. Overigens mogen ze wel een electronic seal aanvragen en kan dit ook nog vereist zijn. Bijvoorbeeld als de `SupplierDelegation` ondertekend moet zijn door de machtigende partij of indien er onweerlegbaarheid gevraagd is.
2. Softwareleveranciers hoeft geen toegang meer te hebben tot het electronic seal van de juridisch datadienstgebruiker (partij uit de gebouwde omgeving). Hierdoor wordt de private key beschermd.

Merk op dat bij een autorisatiebeslissing een (gemachtigd) datadienstaanbieder altijd beschikt over een Bearer JWT (met een TTL van max 30 seconde) die is verkregen door de softwareleverancier met een Client Assertion van het electronic seal. De softwareleverancier is hiervoor geauthenticeerd en deelname aan het DSGO is vastgesteld. In het bevragen van de resourceserver wordt vervolgens de `SupplierDelegation` meegestuurd ondertekend wederom met de electronic seal van de softwareleverancier. De datadienstaanbieder weet hiermee dus nagenoeg zeker dat het verzoek wordt gedaan door de softwareleverancier en dat deze ook de `SupplierDelegation` heeft ondertekend.

We stellen voor om bovenstaande toe te voegen aan de functionele documentatie over authenticatie.

**10. Schrappen `brokerEvidence` en bewijsvoering via Stelselcatalogus**
In het DSGO is voor de datadienstbroker het object `brokerEvidence` toegevoegd. Voor meer informatie zie: [brokerEvidence object](https://afsprakenstelseldsgo.atlassian.net/wiki/spaces/DSGO/pages/445513803/brokerEvidence+object) en [Bewijs van gebruik van een datadienstbroker](https://afsprakenstelseldsgo.atlassian.net/wiki/spaces/DSGO/pages/316973128/Bewijs+van+gebruik+van+een+datadienstbroker).

In de huidige afspraken wordt bewijsvoering geregeld via de Stelselcatalogus, aangeboden door de Beheerorganisatie DSGO (in de praktijk Stichting digiGO). Deze keuze heeft als nadeel dat er een centrale plek ontstaat met vastlegging van alle contractuele relaties tussen datadienstbrokers en contracten. Vervolgens wordt deze informatie ook gedeeld met alle deelnemers aan het DSGO. Dit is vanuit concurrentieel en mededingsrechtelijk oogpunt onwenselijk.

Bovenstaande wijzigigen leggen de verantwoordelijkheid voor bewijsvoering op de plek waar het juridisch ook hoort: bij de machtigende organisatie en de gemachtide softwareleverancier. Merk op dat we hier zowel een softwareleverancier in de rol van datadienstaanbieder en datadienstgebruiker bedoelen. De bovenstaande voorstellen houden dus rekening met meer varianten.

We stellen voor om de volgende afspraken te schrappen:
- Datadienstgebruikers MOETEN deelnemer zijn van het DSGO om het gebruik van een datadienstbroker te registreren
- Datadienstgebruikers MOETEN gebruik van een datadienstbroker registeren bij het toetreden tot het DSGO
- De stelselcatalogus MOET brokerbewijs beschikbaar stellen volgens een /brokers endpoint
- Datadienstaanbieders MOETEN datadienstverzoeken met HTTP header `broker_evidence` met een geldige brokerEvidence object accepteren

Ook stellen we voor om de technische documentatie die hiermee verband houdt te verwijderen uit het DSGO.

**11. Aanpassen Request en Response headers van voorbeeld Data service**
Bovenstaande wijzigingen hebben ook impact op de voorbeeld data service zoals deze gespecificeerd staat in het DSGO afsprakenstelsel. De volgende headers dienen aangepast te worden.

| Pagina | Huidige afspraak | Nieuwe afspraak |
|---|---|---|
| [Data service](https://afsprakenstelseldsgo.atlassian.net/wiki/spaces/DSGO/pages/316969049/Data+service) | Request headers | Request headers `broker_evidence` en `delegation_evidence` verwijderen |
| [Data service](https://afsprakenstelseldsgo.atlassian.net/wiki/spaces/DSGO/pages/316969049/Data+service) | Response headers | Response headers `broker_evidence` verwijderen |

### Rationale

Het DSGO is een generiek trust framework waarin identificatie, authenticatie en autorsiatie een cruciale rol vervullen. De huidige uitwerking van autorisatie houdt onvoldoende rekening met de praktijk waarin verschillende soorten van bevoegdheden worden verstrekt tussen partijen die betrokken zijn in een datatransactie.

Het huidige model is sterk gebaseerd op de uitwerking van het iSHARE model waarin drie rollen worden onderscheiden: datarechthebbende, datadienstaanbieder en datadienstgebruiker. In de praktijk zien we hier meer varieteit in zit. Denk bijvoorbeeld aan de volgende situatie:
- Een gebouweigenaar is datadienstrechthebbende
- De gebouweigenaar heeft een softwareleverancier gecontracteerd met een SAAS oplossing die assetbeheer levert. De softwareleverancier acteert als gemachtigd datadienstaanbieder.
- Een aannemer heeft het toegangsrecht verkregen om onderhoudsdata bij te werken. De aannemer is juridisch datadienstgebruiker.
- De aannemmer heeft een onderaannemer gecontracteertd om onderhoud uit te voeren. De aannemer machtigd de ondernemer als (juridisch) datadienstgebruiker.
- De onderaannemer heeft een softwareleverancier gecontracteerd met een SAAS applicatie voor onderhoudsrapportages. De softwareleverancier acteert als gemachtigd datadienstgebruiker.

Uiteindelijk vindt er een data-uiwisseling plaats tussen softwareleverancier onderhoudsrapportages naar de softwareleverancier assetbeheer. De softwareleverancier assetbeheer zal een autorisatiebeslissing moeten nemen of er een onderhoudsrapportage toegevoegd mag worden aan een specifieke asset van een gebouweigenaar. Het is hiervoor van belang dat alle bewijsstukken worden geleverd en gezamenlijk leiden tot een positieve beslissing. Hierbij geldt het autorisatiebeleid dat de gebouweigenaar hanteert. Het is goed mogelijk dat de ene gebouweigenaar een strkter beleid heeft dan de ander. Om deze beslissing zuiver te kunnen nemen is het van belang dat er functionele helderheid is in de verantwoordelijkheden, semantische interoperabiliteit is in de bewijsvoering en technische afspraken zijn die eenduidig geimplementeerd kunnen worden.

Dit wijzingsvoorstel is erop gericht om deze duidelijkheid te verschaffen en de interoperabiliteit op autorisaties te vergroten.

### Urgentie

Deze RFC is ingediend met de urgentie `critical` omdat de wijzigingen betrekking hebben op de kern van het Trust Framework. Het is van belang om deze wijzigingen tijdig door te voeren zodat we voorkomen dat er implementaties met autorisaties aangepast moeten worden. Ook verduidelijkt dit wijzigingsvoorstel het werken met softwareleveranciers en 

### Impact
De imnpact van deze wijziging is `high`. Bovenstaande wijzigingen hebben een grote impact op de uitwerking van autorisaties in het DSGO. Ook zullen bovenstaande wijzigingen ingebracht dienen te worden als wijzigingsvoorstel bij iSHARE om ervoor te zorgen dat interoperabiliteit binnen iSHARE geborgd wordt. Hierbij dient wel opgemerkt te worden dat de technische wijzigingen gering zijn. De wijzigingen 1), 3), 4), 5), 7), 8) en 9) voornamelijk functioneel van aard. Technisch gezien is voorstel 2) is een breaking change voor zowel DSGO als iSHARE. Voorstel 10) is een breaking change voor DSGO.

Op basis van de feedback uit de bijeenkomst datadienstbrokers van 13 mei 2025 is een nieuwe versie van deze RFC opgesteld.

Op basis van de feedback uit de bijeenkomst datadienstbrokers van 13 juni 2025 is een nieuwe versie van deze RFC opgesteld.

De CAB adviseert positief over deze RFC tijdens de CAB vergadering van 09-09-2025. 

Het belang van verder standaardiseren op deze twee cruciale onderdelen van het DSGO wordt door de leden van de CAB onderschreven. Hierbij dient opgemerkt te worden dat de implementatievariant enkel van toepassing is op partijen die daadwerkelijk delegatie en fijnmazige autorisatie willen ondersteunen in hun datadienst. 

Er is overwogen om de implementatievariant in eerste instantie als best practice op te nemen op de DSGO Developer Portal en pas na toetsing in de praktijk de variant ook op te nemen als bindende afspraak in het DSGO. De CAB gaf echter aan dat hiermee er nog steeds onduidelijkheid blijft en implementaties technisch uit elkaar kunnen gaan lopen. Ook kan een gebruiker in aanbestedingsdocumenten niet eenduidig verwijzen naar de afspraken in het DSGO. 

Het advies van de CAB is om de implementatievariant direct in het DSGO op te nemen. Indien 
er bij de implementatie issues aan het licht komen, dan kan dit geadresseerd worden via het regulier Change& Release proces.

in de DR-vergadering van 02-10-2025 heeft de deelnemersraad het CAB advies voor deze RFC bekrachtigd.